<% if User.find_by_username(session[:cas_user].to_s).role.eql?("User") then %>
    <% if !ActionPlan.find_by_user_id(User.find_by_username(session[:cas_user].to_s).id).status.eql?("Complete") then %>
        <h1>Update Action Plan</h1>
        <%= render 'form' %>
    <% else %>
        <br>
        <%= render template: 'action_plans/submit_to_apr' %>
    <% end %>
<% else %>
    <br>
    <%= render 'form' %>
<% end %>