<h1>Submit Action Plan to APR</h1>

<% if ActionPlan.find_by_user_id(User.find_by_username(session[:cas_user].to_s)).status.eql?("Incomplete") then %>

<p>This form submits your Action Plan to APR department.</p>

<p>Please note that all the forms will be locked and cannot be edited further. If you want to edit the forms after submission, please contact <a href="mailto:apr@unm.edu" target="_top">apr@unm.edu</a></p>

    <%= link_to "Submit to APR", action_plans_s_submit_confirmed_path,
                data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>

<% else %>
    <br>
    <br>
    <br>
    <strong><p>You have submitted the Action Plan.</p></strong>

            <p>If you want to edit the forms, please contact <a href="mailto:apr@unm.edu" target="_top">apr@unm.edu</a></p>

<% end %>