<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Action Plan</h1>
<p>
  You have successfully submitted your Action Plan to APR.<br>
</p>
<p>
  Please note that all the forms will be locked and cannot be edited further. If you want to edit the forms, please contact apr@unm.edu.
</p>
<p>Thanks for submitting and have a great day!</p>
</body>
</html>