<h3 class="no-padding"><u>Supporting Documentation Attachments</u></h3>
<br>
<% user = User.find_by_username(session[:cas_user].to_s) %>

<% if !@criterion_files.blank? then %>
    <table class="table table-striped">
      <thead>
      <tr>
        <!--<th>Criterion detail</th>-->
        <th>Name</th>
        <th>Download Link</th>
        <% if !user.role.eql?("Admin") %>
            <% if !ActionPlan.find_by_user_id(user.id).status.eql?("Complete") then %>
                <th>Action</th>
            <% end %>
        <% end %>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @criterion_files.each do |criterion_file| %>
          <tr>
            <!--<td><%# criterion_file.criterion_detail %></td>-->
            <td><%= criterion_file.name %></td>
            <!--<td><%# criterion_file.attachment %></td>-->
            <td><%= link_to 'Download', criterion_file.attachment_url, :target => "_blank" %></td>
            <!--<td><%# link_to 'Edit', edit_criterion_file_path(criterion_file) %></td>-->
            <% if !user.role.eql?("Admin") %>
                <% if !ActionPlan.find_by_user_id(User.find_by_username(session[:cas_user].to_s).id).status.eql?("Complete") then %>
                    <td><%= link_to 'Delete', criterion_file, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    No files uploaded.
<% end %>

<br>
