
#header {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
#hero {
  background-image: url('../../assets/images/banner.jpg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
}

.navbar-wrapper {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 51px;
}
.navbar-wrapper > .container {
  padding: 0;
}

@media all and (max-width: 768px ){
  .navbar-wrapper {
    position: relative;
    top: 0px;
  }
}

.no-margin
{
  margin:0px;
}
.no-padding
{
  padding:0px !important;
  margin:0px !important;
}
.bottom-padding {
  padding-bottom: 10px;
}

.full-width {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100%;
}
.active {
  border-left: 3px solid #C10037;
  color: #C10037;
}

a.active {
  color: #333;
  display: block;
}
#footer {
  box-sizing: border-box;
  background: #C10037 url("//webcore.unm.edu/v2/images/mesa-mountain-red.png") no-repeat scroll right bottom;
  color: #FFF;
  border-top: 3px solid #CCC;
  padding: 30px 0px;
  margin-top: 0px;
  font-size: 0.9em;
}

.form-horizontal .control-label{
  /* text-align:right; */
  text-align:left;
}

a:hover {
  color: red;
}

.notice { height: 2.75em; padding: 0.5em; text-align: center; width: 1140px;
  margin: 0 auto; background: #f50049; color: #000000; }

table {
  width: 100%;
  border: 1px solid #e2e2e2;
}
th.show-text-area {
  width: 15%; white-space:pre-wrap;
}